body {
  font-family: Muli, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 180%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 7vh;
  line-height: 130%;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 56px;
  line-height: 137%;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 130%;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  color: #b7b4b9;
  font-size: 14px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
}

a {
  color: #000;
  font-weight: 700;
}

.hero {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 24px;
  flex-direction: row;
  align-items: stretch;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.container.relative {
  position: relative;
}

.container.center {
  text-align: center;
}

.hero-paragraph {
  max-width: 496px;
}

.button {
  min-width: 200px;
  padding: 11px 32px 12px;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  background-color: #000;
  box-shadow: 0 0 0 3px #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.button-border {
  display: inline-block;
  background-color: transparent;
  box-shadow: 0 0 0 3px #000;
  transform: translate(11px, 11px);
}

.button-wrapper {
  display: inline-block;
  margin-top: 40px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.hero-wrap {
  display: flex;
  padding: 22vh 60px 70px;
  align-items: flex-start;
  flex: 1;
  background-color: #648ea3;
}

.highlight {
  position: absolute;
  left: 4%;
  top: 50%;
  right: 0%;
  bottom: auto;
  height: 36%;
  margin-right: 4px;
  background-color: #f0daaa;
  transform-origin: 0% 50%;
}

.hero-heading {
  position: relative;
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
}

.highlight-box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.headline-wrap {
  max-width: 100vh;
  margin-bottom: 24px;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: transparent;
}

.logo {
  font-size: 22px;
  font-weight: 900;
}

.nav-link {
  margin-left: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link.yellow-link {
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: inset 0 -10px 0 0 #f0daaa;
}

.yellow-link {
  box-shadow: inset 0 -10px 0 0 #f0daaa;
  transition: all 200ms ease;
  font-weight: 700;
  text-decoration: none;
}

.yellow-link:hover {
  box-shadow: inset 0 -22px 0 0 #f0daaa;
}

.yellow-link.test {
  box-shadow: inset 0 -10px 0 0 #ffe872;
  transition-duration: 200ms;
}

.yellow-link.test:hover {
  box-shadow: inset 0 -28px 0 0 #ffe872;
}

.scroll-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;
  height: 0px;
  padding-right: 84px;
  padding-left: 84px;
  text-align: right;
}

.scroll-arrow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 2px;
  height: 105px;
  background-color: #000;
  transform-origin: 50% 100%;
}

.scroll-text {
  position: absolute;
  left: 46px;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-block {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  overflow: hidden;
  width: 46px;
  height: 105px;
}

.section {
  margin-right: 24px;
  margin-left: 24px;
  padding: 60px;
}

.project {
  display: -ms-grid;
  display: grid;
  padding-top: 140px;
  padding-bottom: 140px;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 14px;
      grid-template-areas: ". Area"
    ". Area";
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 14px auto;
  grid-template-rows: auto auto;
}

.left-column {
  max-width: 50%;
  min-width: 410px;
}

.mockup-column {
  position: relative;
  text-align: right;
}

.tags-wrapper {
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.tag {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 6px 10px;
  background-color: #648ea3;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}

.dots {
  position: absolute;
  left: -24px;
  top: auto;
  right: auto;
  bottom: -24px;
}

.mockup-img {
  position: relative;
  z-index: 1;
}

.mockup-hover {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -42px;
  display: flex;
  height: 44px;
  padding-top: 2px;
  padding-left: 10px;
  align-items: center;
}

.mockup-hover-text {
  display: inline-block;
  margin-right: 12px;
  color: #b7b4b9;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.heading-5 {
  color: #b7b4b9;
}

.mockup-arrow-wrapper {
  overflow: hidden;
}

.right-column {
  max-width: 544px;
  padding-top: 30px;
  flex: 1;
}

.what-i-do {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  align-items: flex-start;
}

.development-heading {
  margin-top: 80px;
}

.footer {
  margin-right: 24px;
  margin-left: 24px;
  padding: 50px 60px 24px;
  background-color: #648ea3;
}

.want-to-work {
  display: flex;
  margin-bottom: 260px;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.portfolio-paragraph {
  max-width: 480px;
}

.header-wrapper {
  display: flex;
  padding: 170px 60px 300px;
  align-items: flex-start;
  flex: 1;
  background-color: #648ea3;
}

.header {
  position: relative;
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: stretch;
}

.header-paragraph {
  max-width: 736px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.screen-container {
  max-width: 928px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.screen-image {
  position: relative;
  top: -300px;
  margin-bottom: -220px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.live-site-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}

._24px {
  height: 24px;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .hero-wrap {
    padding-right: 40px;
    padding-left: 40px;
  }

  .navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .section {
    padding: 40px;
  }

  .project {
    padding-top: 70px;
    padding-bottom: 70px;
    flex-direction: column;
        grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .left-column {
    width: 100%;
    max-width: none;
    min-width: auto;
  }

  .mockup-column {
    width: 100%;
    margin-bottom: 60px;
    background-color: #f9efe7;
    text-align: center;
  }

  .tag {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .mockup-hover {
    display: none;
  }

  .right-column {
    margin-bottom: 20px;
  }

  .what-i-do {
    margin-bottom: 40px;
    flex-direction: column;
  }

  .footer {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .want-to-work {
    margin-bottom: 20vh;
    flex-direction: column;
  }

  .header-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  .hero-wrap {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
  }

  .headline-wrap {
    max-width: 100%;
  }

  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .scroll-wrapper {
    display: none;
  }

  .section {
    padding: 30px;
  }

  .project {
    flex-direction: column-reverse;
  }

  .development-heading {
    margin-top: 40px;
  }

  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .brand {
    padding-left: 0px;
  }

  .header-wrapper {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 37px;
  }

  .hero {
    min-height: auto;
    padding: 16px;
  }

  .hero-wrap {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-heading {
    margin-right: 8px;
  }

  .highlight-box {
    margin-right: 2px;
  }

  .headline-wrap {
    max-width: 300px;
  }

  .navbar {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link.yellow-link {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 50%;
    text-align: right;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .dots {
    left: -16px;
    bottom: -16px;
    width: 70px;
  }

  .menu-button {
    margin-top: -6px;
    margin-right: -8px;
    padding: 8px;
  }

  .menu-button.w--open {
    background-color: #b7b4b9;
  }

  .nav-menu {
    padding: 10px 20px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #b7b4b9;
    text-align: right;
  }

  .header-wrapper {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    min-height: auto;
    padding: 16px;
  }

  .screen-image {
    margin-bottom: -260px;
  }
}

#w-node-_8d143559-fbbc-5ed5-d91e-e5b98b9c7484-3d6914ba {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_8d143559-fbbc-5ed5-d91e-e5b98b9c748c-3d6914ba {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_8d143559-fbbc-5ed5-d91e-e5b98b9c7484-3d6914ba {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_8d143559-fbbc-5ed5-d91e-e5b98b9c748c-3d6914ba {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

